{% extends "base.html" %}

{% block content %}

<div class="container">

<section id="how-it-works">
  <h2 class="page-header">Welcome {{ user.full_name }}

        <span style="display: inline-block; float: right">
          <a class="btn btn-danger btn-lg" href="#modal-need-help" data-toggle="modal">
            Need Help?
          </a>
        </span>
  </h2>

  <h3>Your travels</h3>
  <table class="table">
    <thead>
      <tr><th>Country</th><th>Address</th><th>Arrival</th><th>Departure</th></tr>
    </thead>
    <tbody>
    {% for t in travels %}
    <tr><td>{{ t.country }}</td><td>{{ t.address }}</td>
      <td>{{ t.arrival_date }}</td><td>{{ t.departure_date }}</td></tr>
    {% endfor %}
    </tbody>
  </table>

<br>
<br>

  <h3>Your documents</h3>
  {% for d in documents %}
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <img src="/static/img/passport.png">
      <br>{{ d.name }}
    </div>
  </div>
  {% endfor %}

</section>

</div> <!-- /container -->

{% endblock content %}

{% block logout %}
<li><a href="/logout"><i class="fa fa-times"></i> Logout</a></li>
{% endblock logout %}
