{% extends "base.html" %}

{% block content %}

<div class="jumbotron jumbotron-carousel hidden-print">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="logo">
          <h1>SafeBox</h1>
        </div>
        <p>Keep your documents safe and have a <a href="#">emergency</a> plan</p>
        <div class="actions">
          <a class="btn btn-default btn-lg" href="#modal-protect-docs" data-toggle="modal">
            <i class="fa fa-cloud fa-super"></i><br>
            Protect your <br> documents
          </a>
          <a class="btn btn-default btn-lg" href="#modal-access-docs" data-toggle="modal">
            <i class="fa fa-key fa-super"></i><br>
            Access your <br> documents
          </a>
        </div>
        <div class="shameless-self-promotion">
          <i class="fa fa-flag"></i> &nbsp;
          In cooperation with the Ministry of Foreign Affairs of the Republic of Latvia
          &nbsp;&nbsp;&middot;&nbsp;&nbsp;
          <i class="fa fa-lock"></i> &nbsp;
          <a href="/privacy-policy/">Our Privacy Policy</a>
        </div>
      </div>
      </div>
    </div>

  </div>
</div>

<!--
<div id="social-buttons" class="hidden-print">
  <div class="container">
    <form id="newsletter" method="post" action="https://formkeep.com/f/d8c63a79aead">
      <div class="row">
        <div class="col-md-4 col-md-offset-2 col-sm-6">
          <div class="form-group margin-bottom">
            <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email address&hellip;" required>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <button type="submit" class="btn btn-success btn-block margin-bottom-lg"
              data-toggle="popover" data-trigger="hover" data-placement="top" title="Stay up to date with the Safe Poll Me"
              data-content="We'll send you updates about new features. We won't spam you. Scout's honor.">
            Subscribe for the future best polls only&nbsp;&nbsp;<i class="fa fa-envelope"></i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="st_share_buttons">
    <span class='st_facebook_hcount' displayText='Facebook'></span>
    <span class='st_twitter_hcount' displayText='Tweet'></span>
    <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
    <span class='st_email_hcount' displayText='Email'></span>
  </div>
</div>
-->

<div class="container">

<section class="hidden-print">
  <a id="why-its-safe" name="why-its-safe"></a>
  <a id="get-started" name="get-started"></a>

  <div class="stripe-ad">


  <p class="lead">
  SafeBox is a free and easy-to-use service that provides
  place to safely store copies of your documents and
  rescue system for everyone in emergency situation.
  </p>

  </div>
</section>


<section id="why" class="feature-list">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-cloud"></i> Upload before travel</h4>
      Make a copy of your travel documents and upload to safe place before travel.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-download"></i> Get it when need it</h4>
      You will able to get your copies instantly.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-medkit"></i> Emergency plan for everyone</h4>
      You can get help. Even without Internet access.
    </div>
  </div>
</section>

<!--

<section id="how-it-works">
  <h2 class="page-header">How it works</h2>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <p>
        1. You authenticate ...
      </p>
    </div>
    <div class="col-md-4 col-sm-4">
      <p>
        2. You upload ....
      </p>
    </div>
    <div class="col-md-4 col-sm-4">
      <p>
        3. We send your documents ...
      </p>
    </div>
  </div>
</section>

-->

</div> <!-- /container -->

<div class="modal fade" id="modal-protect-docs" tabindex="-1" role="dialog" aria-labelledby="modal-protect-docs-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

<form class="form-horizontal" method="post" action="/signup">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
        <h2 class="modal-title" id="modal-protect-docs-label">Welcome, please Sign Up</h2>
      </div>
      <div class="modal-body text-lg">
        <p class="margin-bottom-lg">
          Before we start choose pin code which will be used for alarm message:
        </p>

  <div class="form-group">
    <label for="FullName1" class="col-sm-4 control-label">Your Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="FullName1" name="FullName1" placeholder="Full Name">
    </div>
  </div>
  <div class="form-group">
    <label for="MobileNumber1" class="col-sm-4 control-label">Moble No</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="MobileNumber1" name="MobileNumber1" placeholder="+371 000 00 00">
    </div>
  </div>
  <div class="form-group">
    <label for="BirthDate1" class="col-sm-4 control-label">Birth Date</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="BirthDate1" name="BirthDate1" placeholder="1980-12-31">
    </div>
  </div>
  <div class="form-group">
    <label for="PinCode1" class="col-sm-4 control-label">Pin Code</label>
    <div class="col-sm-2">
      <input type="password" class="form-control" id="PinCode1" name="PinCode1" placeholder="****" size="6" maxlength="6">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-6">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="PrivacyPolicy1" name="PrivacyPolicy1">  I agree to the
          <i class="fa fa-lock"></i>
          <a href="/privacy-policy/">Privacy Policy</a>
        </label>
      </div>
    </div>
  </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-lg block-xs" type="submit">
          Sign Up &nbsp;<i class="fa fa-sign-in fa-lg"></i>
        </button>
      </div>

</form>

    </div>
  </div>
</div>

<div class="modal fade" id="modal-access-docs" tabindex="-1" role="dialog" aria-labelledby="modal-access-docs-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

<form class="form-horizontal" method="post" action="/login">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
        <h2 class="modal-title" id="modal-access-docs-label">Welcome, please Login</h2>
      </div>
      <div class="modal-body text-lg">
        <p class="margin-bottom-lg">
          For login we need your mobile number and pin code:
        </p>


  <div class="form-group">
    <label for="MobileNumber1" class="col-sm-4 control-label">Moble No</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="MobileNumber1" name="MobileNumber1" placeholder="+371 000 00 00">
    </div>
  </div>
  <div class="form-group">
    <label for="PinCode1" class="col-sm-4 control-label">Pin Code</label>
    <div class="col-sm-2">
      <input type="password" class="form-control" id="PinCode1" name="PinCode1" placeholder="****" size="6" maxlength="6">
    </div>
  </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-lg block-xs" type="submit">
          Authenticate &nbsp;<i class="fa fa-external-link fa-lg"></i>
        </button>
      </div>

</form>

    </div>
  </div>
</div>


  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">
    stLight.options({publisher: "1ab002f3-07c1-4e0c-a9ff-889fa3918043", doNotHash: true, doNotCopy: true, hashAddressBar: false});
  </script>

{% endblock content %}
