{% extends "base.html" %}

{% block content %}

<div class="container">

<section id="how-it-works">
  <h2 class="page-header">Privacy Policy</h2>
  <p>(from September 20, 2015)</p>

<h3>SafeBox following its data privacy principles that:</h3>
<p class="lead">
1. Your personal data is collected for the purposes of safety;<br>
2. Processing is adequate, relevant and not excessive in relation to the purpose;<br>
3. The level of security of your data is appropriate;<br>
4. Personal data is processed until its destruction and is no longer necessary;<br>
has adopted the SafeBox Privacy Policy.
</p>

<br>

<h3>By accessing or using the Services you agree with</h3>
<p>1. This Privacy Policy regulates the way in which SafeBox processes personal data collected from users (each, a "User") of the http://safebox-travel.tk website ("Site").
<p>2. We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, fill out a form, send documents and in connection with other activities, services, features or resources we make available on our Site.
<p>3. We may collect non-personal identification information about Users whenever they interact with our Site. Such identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.
<p>4. SafeBox may collect and use Users personal information for the following purposes: to run and operate Site; to respond to inquiries, questions, and/or other requests; to provide personal information and copy of documents to the third parties in case of emergency. We may not share or sell information with third parties for marketing or other commercial purposes.
<p>5. We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal data stored on the Site.
<p>6. User may request a destruction of personal data. In this case SafeBox checks whether this request has been done by User. Such a check can’t exceed 6 months from the date a request sent.
<p>7. Users may find advertising or other content on our Site that link to the sites and services of our third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. These sites and services may have their own privacy policies and customer service policies.
<p>8. By using this Site, you signify your acceptance of this policy. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.


</section>

</div> <!-- /container -->

{% endblock content %}
